.login-form{
	display: flex;
	height: auto;
	flex-direction: column;
}

.login-element{
	margin: auto;
	max-width: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
  background-color: lightblue;
}

img{
 text-align: center;
 margin: auto;

}

.input {
  border: 2px solid red;
  border-radius: 4px;
  text-align: center;
   margin: auto;
   width: 150px;
}

.confirmButton{
    color: green;
    width: 150px;
    text-align: center;
    margin: auto;
}