<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing up</title>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
<form class="login-form" action="/sign_up" method='POST'>
    <h1 class="login-element">Please sign up</h1>
    <div class="login-element">Username:</div>
    <input class="input" type='username' name="username" value=''>
    <div class="login-element">e-mail:</div>
    <input class="input" type='email' name="email" value=''>
    <div class="login-element">Password:</div>
    <input class="input" type='password' name="password" value=''>
    <div class="login-element">Select Role :

        <select name="roles" id="roles">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>

    </div>
    <input class="confirmButton" name="submit" type="submit" value="Sing up">

</form>

</body>
</html>